/* 
    Document   : loan
    Created on : 2014-8-18, 15:30:17
    Author     : cyss210
    Description:
        Purpose of the stylesheet follows.
*/
.loan-panel {
    margin-top: 40px;
    margin-bottom: 40px;
}

.panel-body {
    height: 380px;
}

.loan-btn {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.loan-desc-p {
    height: 80px;
}

.loan-title-img {
}
