/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-11-16, 23:57:37
    Author     : Administrator
*/
.new_input_div {
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border: 1px #EB5D68 solid;
    border-radius: 3px;
    padding-left: 10px;
}
.new_input {
    border-radius: 0px;
    width: 240px;
    border: 0px ;
    height: 40px;
    margin-left: 18px;
    display: inline-block;
    color: #000;
    float: right;
}
#register_container {
    width: 1050px;
    height: 500px;
    border: 1px #ddd solid;
    background-color: white;
}

#login_panel {
    float: left;
    width: 380px;
    height: 500px;
}

#img_panel {
    float: left;
    width: 660px;
}

#login_title {
    text-align: left;
    color: #EB5D69;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 22px;
}

.glyphicon {
    color: #878785;
    float: left;
    margin-top: 10px;
}

.yzm-group {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 300px;
    height: 40px;
    max-height: 40px;
}

#get_sms_yzm {
    width: 90px;
    height:40px;
    display: block;
    float: right;
}

#register_yzm {
    width: 210px;
    height: 40px; 
    border: 1px #EB5D68 solid;
    float: left;
    top:0px;
}