/* 
    Document   : page3
    Created on : 2014-10-28, 15:47:20
    Author     : cyss210
    Description:
        Purpose of the stylesheet follows.
*/

#po_asset {
    width: 96%;
    height: 180px;
    background-color: #4CCFBF;
}

#po_info {
    width: 88%;
    padding-top: 14px;
    text-align: left;
}

.po-label {
    color: white;
    margin-left: 8px;
    font-size: 15px;
}

.zhye {
    margin-left: 80px;
}

#in_cz {
    margin-left: 60px;
}

#out_tx {
    margin-left: 16px;
}

#temp_line {
    width: 90%;
    margin-left: 60px;
    margin-top: 16px;
    height: 1px;
    border-top: 1px white dashed;
    margin-bottom: 30px;
}

/*=====================*/

#po_detail {
    width: 96%;
    background-color: #eee;
    border: 1px #ddd solid;
    margin-top: 10px;
    border-radius: 5px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    
}

#outer_progress {
    background-color: #ccc;
    width: 260px;
    height:14px;
    border-radius: 10px;
    padding: 3px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 40px;
}

#inner_progress {
    background-color: #4CCFBF;
    width: 130px;
    border-radius: 10px;
    height: 8px;
}

#detail_progress {
    font-size: 16px;
    margin-left: 40px;
}

#fill_detail {
    margin-left: 50px;
}

#po_project{
    border: 1px #d3d3d3 solid;
    width: 90%;
    margin-top: 10px;
    height: 100%;
    text-align: left;
    padding: 20px;
}

.sign {
    display: inline-block;
}

.sign label{
    font-size: 20px;
}

.inline-div {
    width: 20%;
    display: inline-block;
}

.temp_line {
    width: 100%;
    border-top: 1px white dashed;
    margin-top: 12px;
    background-color: #d3d3d3;
}

.pro-title {
    color: #EB5D69;
    font-size: 20px;
    font-family: 900;
}

.my-table {
    margin-top: 6px;
    margin-bottom: 6px;
}

.my-table tbody tr td:last-child a {
    color: #EB5D69;
}